body {
    margin: 0;
}

.container {
    display: flex;
    background: #1B244A;
    width: 575px;
    height: 385px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top:5%;
    margin-bottom:5%;
}
.sub-container1, .sub-container2{
    position:absolute;
    width: 149px;
   
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
   
    color: #EEEEEE;
    
}

.sub-container1{
    left: 85px;
}
.sub-container2{
    left: 340px;
}
.home-score{
position:absolute;
width: 155px;
height: 120px;
top: 125px;
background: #080001;
border-radius: 5px;
}


.home-points-text{
 
  display:flex;
  justify-content:center; 
  align-items: center;

  width: 117px;
top: 120px;
height: 120px;
font-family: Cursed Timer ULiL;
font-style: normal;
font-weight: 400;
font-size: 90px;
margin: 0 auto;
color: #F94F6D;
}

.add-points-btns-home{
display: flex;
position:absolute;
width: 155px;
height: 45px;
top: 271px;

}
.rectangle{
 box-sizing: border-box;
width: 45px;
height: 45px;
left: 82px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;  
}

#plus-one-point, #plus-two-point,#plus-three-point{

display: flex;
  justify-content:center;  
  align-items: center;
width: 30px;
height: 26px;
background-color: #1B244A;;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
margin-left:6px;
margin-top:8px;
text-align: center;
border: none;
color: #9AABD8;
}
.two{
    margin-left: 11px;
}
.three{
    margin-left:11px;
}
#newMatch {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
margin-top: 323px;
margin-left:230px;

}
#newMatch:hover {background-color: #3e8e41}

